<html>
<head>
    <title>Juan Yao's books</title>
    <!-- For boostrap styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- For notification -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/css/toastr.min.css">
</head>
<body ng-app='app'>
    <div class="container" ng-controller="bookController as vm">
       <div class="row">
           <div class="col-md-12">
              <h1>Books</h1>
              <div>
                  Name: <input ng-model="vm.new.name" />
                  <button class="btn btn-success" ng-click="vm.add()">Add book</button>
              </div>
              <hr />
               <div class="list-group">
                   <div class="list-group-item row"
                       ng-repeat="book in vm.books">
                       <div ng-hide='book.isEdit' class="col-md-9">
                           <h4 ng-bind="book.name"></h4>
                           <span ng-bind="book.date"></span>
                       </div>
                       <div ng-show='book.isEdit' class="col-md-9">
                           <input ng-model="book.name" />
                           <input ng-model="book.date" />
                       </div>
                       <div class="col-md-3">
                            <button class="btn btn-info" ng-hide='book.isEdit'
                                    ng-disabled='vm.isEdit' ng-click="vm.edit(book)">Edit</button>
                           <button class="btn btn-success" ng-show='book.isEdit' ng-click="vm.save(book)">Save</button>
                           <button class="btn btn-success" ng-show='book.isEdit' ng-click="vm.cancel(book)">Cancel</button>
                           <button class="btn btn-danger"
                                   ng-disabled='vm.isEdit' ng-click="vm.remove(book)">Delete</button>
                       </div>
                   </div>
               </div>
            </div>
       </div>
     </div>

    <!-- 3 way binding: Angular + Firebase = AngularFire -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <!-- Required by Toastr. For DOM manupulation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- For notification -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/js/toastr.min.js"></script>
    <!-- For time formatting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script type="text/javascript">

        var app = angular.module("app", ["firebase"]);

        app.controller("bookController", ["$scope", "$firebase", controller]);

        function controller($scope,$firebase) {
            var vm = $scope.vm;

            // get Firebase references
            var booksRef = new Firebase("https://jynet.firebaseio.com/life/books");
            // create an AngularFire reference to the data
            var sync = $firebase(booksRef);

            // Interface definition
            vm.add = add;
            vm.cancel = cancel;
            vm.remove = remove;
            vm.edit = edit;
            vm.save = save;
            vm.new = {};
            vm.isEdit = false;
            vm.bookBeforeSave ={};

            init();


            function init(){
                // download the data into a local object
                vm.books = sync.$asArray();
            }

            function add(){
                vm.books.$add({
                    name:vm.new.name,
                    date: moment().format('MMMM Do YYYY, h:mm:ss a'),
                });

                toastr.success('Successfully added '+ vm.new.name);
            }

            function cancel(book){
                vm.isEdit = false;
                book.isEdit = false;
                book = bookBeforeSave;
                bookBeforeSave = {};
                toastr.info('Cancelled edit '+ book.name);
            }

            function edit(book){
                vm.isEdit = true;
                book.isEdit = true;
                bookBeforeSave = book;
                toastr.info('Edit mode for '+ book.name);
            }

            function save(book){
                vm.isEdit = false;
                book.isEdit = false;
                vm.books.$save(book).then(success);

                function success(){
                    toastr.success('Successfully saved '+ book.name);
                }
            }

            function remove(book){
                vm.books.$remove(book);
                toastr.success('Successfully removed ' + book.name);
            }
        }
    </script>
</body>
</html>
